/* Estilos generales para el encabezado */
header {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
  /* Estilos para el logotipo */
  h1 {
    margin: 0 !important;
    font-size: 2rem !important;
    text-shadow: 1px 1px #000 !important;
  }
  
  h1 a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Estilos para la navegación */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-left: 1.5rem;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.2s ease;
    padding: 0.5rem;
    border-radius: 0.2rem;
  }
  
  nav a:hover {
    color: #ccc;
    background-color: rgba(255,255,255,0.1);
  }
  
  /* Estilos para la lista de opciones de usuario */
  .dropdown-menu {
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0.2rem;
  }
  
  .dropdown-item {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0.25rem 1.5rem;
    transition: color 0.2s ease;
  }
  
  .dropdown-item:hover {
    color: #fff;
    background-color: #333;
  }
  